{% extends "base.html" %}

{% load static %}
{%block title%}
    Корзина
{%endblock%}
{%block content%}
<h1>Список заказов</h1>
    <table class="mytable">
        <thead class="table-dark">
            <tr>
                <th>Номер заказа</th>
                <th>Клиент</th>
                <th>Почта</th>
                <th>Дата</th>
                <th>Сумма к оплате</th>
            </tr>
        </thead>
        <tbody>
        <tbody>
                {% for order in order_list %}
                <tr>
                    <td><a href="{% url 'order_detail' order.id%}">{{order.id}}</a></td>
                    <td>{{order.client_name}}</td>
                    <td>{{order.client_mail}}</td>
                    <td>{{order.date}}</td>
                    <td>{{order.sum_price}} руб.</td>
                </tr>
                {%endfor%}
        </tbody>
    </table>
<a href="{% url 'products_list' %}" >Вернуться ко всем товарам</a>
{%endblock%}