{% extends "base.html" %}

{% load static %}
{%block title%}
    Добавление заказа
{%endblock%}
{%block content%}
<h1>Добавление заказа</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% for product in products %}
        <h1>{{product.title}}</h1>
        <p>Кол-во на складе:{{product.count}}</p>
        <p>Цена:{{product.price}}</p>
        <div class = 'inp'>
            <label>Введите кол-во:<input type="number" name="count" value ='0'></label>
            <label>Введите ваше имя:<input type="text" name="name" placeholder="Ваше имя"></label>
        </div>
     {% endfor %}
    <input type="submit" value="Заказать"/>
    </form>
    <h2>{{info}}</h2>
    <a href="{% url 'Carts' %}" >Перейти к заказам</a>
    <a href="{% url 'products_list' %}" >Вернуться ко всем товарам</a>
    <script src="{%static 'test.js' %}"></script>
{%endblock%}