{% extends "base.html" %}

{% load static %}
{%block title%}
    Добавление заказа
{%endblock%}
{%block content%}
    <a href="{% url 'products_list' %}">Вернуться ко всем товарам</a>
    <h1>{{product.title}}</h1>
    <div class="product_main">
        <div class="product_image">
            <img src="{{product.img_product.url}}"width="300" height="400">
        </div>
        <div class ='product_dis'>
            <h3>Кол-во на складе:</h3>{{product.count}}
           <h3>Цена:</h3>{{product.price}}
           <h3>Описание:</h3><p>{{product.description}}</p>
           <h3>Производитель:</h3>{{product.made}}
        </div>
    </div>

{%endblock%}